.header {
    display: flex;
    justify-content: end;
    padding: 10px 10px 5px;
    position: relative;
}

.header >span {
    font-size: 14px;
    background-color: rgb(171, 109, 230);
    border-radius: 20%;
    width: 16px;
    height: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 20px;
    right: 23px;
}